$breakpoint-mobile:768px;
/* ヘッダーの高さを指定 */

body{
    header{
        height: 10vh;
        position: relative;
    }

}

// single.php専用のスタイル
.single-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    footer {
        margin-top: auto;
    }
}

.single_main{
    width: 60%;
    margin: 0 auto;

    @media (max-width:$breakpoint-mobile) {
        width: 90%;
    }
}